.cart-icon {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 200ms ease all;

  .shopping-icon {
    width: 60px;
    height: 60px;
  }

  .item-count {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    bottom: 19px;
    left: 21px;
    color: #130f26;
  }

  &:hover {
    transform: rotate(12deg) scale(1.05);
  }
}
