$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -20px;
  left: 4px;
  font-size: 15px;
  color: $main-color;
  font-weight: bold;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    font-family: "Open Sans Condensed", sans-serif;
    background: none;
    background-color: white;
    color: rgb(95, 95, 95);
    font-size: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
      .form-input-label-colon {
        display: inline;
        font-size: 15px;
        color: $main-color;
      }
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    .form-input-label-colon {
      font-size: 15px;
      display: none;
    }

    &.shrink {
      @include shrinkLabel();
      .form-input-label-colon {
        display: inline;
        color: $main-color;
        font-size: 15px;
      }
    }
  }
}
